H1 {
	color:cyan;
}

H2 { 
	color:cyan;
	
}

Footer{
	color:white;
	
}
body {
	background-image: url("http://www.karisanmedia.com/wp-content/uploads/2013/09/flag.jpg");
	background-postion: Center Center;
	background-size: cover;
	color: green;
text-align: left;

	font-family: 'Spectral SC', serif;
}








	




