body {
	background-image: url("http://www.karisanmedia.com/wp-content/uploads/2013/09/flag.jpg");
color: red;
text-align: left;
	
}

p.normal {
    font-style: normal;
}

p.italic {
    font-style: italic;
}

p.oblique {
    font-style: oblique;
}

